@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'FertigoProRegular';
	src: url('fertigo_pro-webfont.eot');
	src: local('☺'), url('fertigo_pro-webfont.woff') format('woff'), url('fertigo_pro-webfont.ttf') format('truetype'), url('fertigo_pro-webfont.svg#webfontvSkIVjYt') format('svg');
	font-weight: normal;
	font-style: normal;
}

